NAVIDROME_URL=https://music.noxar.nl
NAVIDROME_USER=your_user
NAVIDROME_PASS=your_pass_or_token
NAVIDROME_CLIENT=cd-player-app
NAVIDROME_ALLOW_INSECURE_TLS=false
APP_PORT=8877

# Optional for frontend dev mode
VITE_API_BASE=http://localhost:8877/api
